<div class="container mt-3">
  <div class="col-sm-12 mx-auto">
    <h3 class = "title"><span><%= image_tag 'favorite.svg' %>いいね(ブックマーク)一覧</span></h3>

    <%= render 'list', posts: @favorite_posts %>

  </div>
</div>
