<div class="container mt-3">
  <p class="text-success"><%= flash[:notice] %></p>
  <div class="col-sm-12 mx-auto">
    <h3 class = "title"><span><%= image_tag 'post.png' %>投稿(検索)一覧</span></h3>

     <%= render 'list', posts: @posts %>

  </div>
</div>
