<div class="container mt-3">
  <p class="text-danger"><%= flash[:alret] %></p>
  <div class="col-sm-12 mx-auto">
    <h3 class = "title"><span><%= image_tag 'post.png' %><%= @user.nickname %>さんの投稿一覧</span></h3>

    <%= render 'public/posts/list', posts: @posts %>

  </div>
</div>
